
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background: #b9ae1d;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px 10%;
  min-height: 100vh;
}

h1 {
  color: #1db954;
}

.mockup-box {
  border: 2px dashed #1db954;
  padding: 40px;
  margin: 20px 0;
}

.card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 40px 5%;
  }
}

