body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background: #e4c61d;
}

nav a {
  color: #691414;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px 10%;
  min-height: 100vh;
}

h1 {
  color: #b9951d;
}

.mockup-box {
  border: 2px dashed #b9ae1d;
  padding: 10px;
  margin: 20px 0;
}

.card {
  background: #311818;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;

}

.card {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(252, 249, 249, 0.986);
    padding: 30px;
    border-radius: 20px;
    color: #070606;
    border: 2px solid #131616;
    transition: 0.4s;
    box-shadow: 0 0 10px #00ffff40;
}


p {
font-family: Georgia, 'Times New Roman', Times, serif;
text-shadow:
        0 0 10px #a77509,
        0 0 20px #a77509,
        0 0 40px #a77509,
        0 0 60px #a77509;
;
}

img {
  width: 100%;
  height: 100%;
}

#dados img {
  width: 160vh;

}

#dados .card {
  background-color: #000000;

}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 40px 5%;
  }
}



.nav-links {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  max-width: 350px;
}

.logo {
  width: 60px;
}


@media (max-width: 480px) {
  body {
    padding: 0 2%;
  }

  .nav a {
    font-size: 14px;
  }

  .logo {
    width: 50px;
  }

  .section h3 {
    font-size: 20px;
  }

  .card {
    width: 100%;
  }
}